# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Python cache
__pycache__/
*.py[cod]

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# Streamlit secrets
.streamlit/secrets.toml

# Test cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS files
.DS_Store
Thumbs.db